header{
    position: relative;
    z-index: 10;
    width: 100%;
}

.top-nav{
    padding: 20px 0;
    background-color: #f3f1ef;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    z-index: 10;
}

.top-nav .container{
    display: flex;
    justify-content: space-between;
}

.top-nav__groupa{
    display: flex;
    font-size: 0.8rem;
}

.top-nav__groupa-link{
    padding-right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav__groupa-link .fas, .top-nav__groupa-link .far{
    font-size: 1;
    margin-right: 5px;
}

.top-nav__groupb{
    display: flex;
}

.top-nav__groupb-icon{
    font-size: 1rem;
    color: #0e0d0e;
    text-decoration: none;
    width: 3rem;
    display: flex;
    justify-content: center;
}

.top-menu{
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    z-index: 10;
    background-color: white;
}

.top-menu .container{
    display: flex;
    justify-content: space-between;
}

.top-menu__groupa{
    display: flex;
}

.top-menu__groupa-logo{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
}

.top-menu__groupa-links{
    display: flex;
    align-items: center;
}

.top-menu__groupa-link{
    color: #0e0d0d;
    font-size: 0.9rem;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu__groupb-input{
    background-color: #f6f5f3;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu__groupb-input .fas{
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

.top-menu__groupb-search{
    width: 100%;
    background: transparent;
    border: none;
    outline:none;
}

.mega-menu{
    height: 0;
    position: absolute;
    top:0;
    left:0;
    z-index:9;
    background-color: white;
    transform: translate3d(0,125px,0);
    width: 100%;
    display: flex;
    transition: all 0.3s ease-in-out;
    overflow: hidden
}

.mega-menu--open{
    height: calc(100vh - 125px);
}

.mega-menu__child{
    width: 25%;
    background-color: white;
    padding: 2rem 3vw;
    display: flex;
    flex-direction: column;
}

.mega-menu__grand{
    width: 30%;
    background-color: #f6f5f3;
    padding: 2rem 3vw;
    display: flex;
    flex-direction: column;
}

.mega-menu__link{
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 1.3rem;
    text-decoration: none;
    color: #0e0d0d;
    transition: all .3s ease-in-out;
}

.mega-menu__link:hover{
    font-weight: 700;
}

.mega-menu__gallery{
    width: 45%;
    background-color: yellow;
}

.mega-menu__gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}