.product-page{
    padding-top: 125px;
}

.product-info{
    display: flex;
}

.product-info__gallery{
    width: 66.66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); ;
    grid-template-rows: 600px repeat(4,400px);
    gap: 10px;
}

.product-info__gallery-item{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(246, 245, 243);
}

.product-info__gallery-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-info__gallery-item:first-child{
    grid-column: 1/3;
}

.product-info__details{
    background: red;
    width: 33.33%;
}