.top-nav{
    padding: 20px 0;
    background-color: #f3f1ef;
    border-bottom: 1px solid #e6e6e6;

}

.container{
    width: 100%;
    max-width: 94%;
    margin: 0 auto;
}

.top-nav .container{
    display: flex;
    justify-content: space-between;
}

.top-nav__groupa{
    display: flex;
    font-size: 0.8rem;
}

.top-nav__groupa-link{
    padding-right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav__groupa-link .fas, .top-nav__groupa-link .far{
    font-size: 1;
    margin-right: 5px;
}

.top-nav__groupb{
    display: flex;
}

.top-nav__groupb-icon{
    font-size: 1rem;
    color: #0e0d0e;
    text-decoration: none;
    width: 3rem;
    display: flex;
    justify-content: center;
}

.top-menu{
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.top-menu .container{
    display: flex;
    justify-content: space-between;
}

.top-menu__groupa{
    display: flex;
}

.top-menu__groupa-logo{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
}

.top-menu__groupa-links{
    display: flex;
    align-items: center;
}

.top-menu__groupa-link{
    color: #0e0d0d;
    font-size: 0.9rem;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu__groupb-input{
    background-color: #f6f5f3;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu__groupb-input .fas{
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

.top-menu__groupb-search{
    width: 100%;
    background: transparent;
    border: none;
    outline:none;
}

.collection-player{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.collection-player .container{
    position: absolute;
    bottom: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}

.collection-player__video{
    transform: scale(1.5);
    /* position: relative; */
    z-index: 1;
}

.collection-player__title{
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2rem;
}

.collection-player__button{
    width: 100%;
    max-width: 200px;
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem;
    padding: 20px;
    background: white;
    color: rgb(61, 59, 59);
    text-transform: uppercase;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.collection-player__button:hover{
    opacity: 0.8;
}

.footer{
    background: #19110b;
    padding: 40px 0;
}

.footer__title{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer__links{
    border-top: 1px solid rgba(131, 129, 129, 0.4);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer__link{
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
}